# core
gradio==5.23.1
opencv-python==4.11.0.86
ffmpeg-python==0.2.0
pillow==11.1.0
numpy==2.2.4

# fastapi & backend dependencies
fastapi==0.115.12
uvicorn==0.34.0
jinja2==3.1.6
markupsafe==2.0.1

# other utils (used by gradio or backend)
requests==2.32.3
typing-extensions==4.13.0
python-multipart==0.0.20
anyio==4.9.0
pydantic==2.11.0
pydantic-core==2.33.0
